@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

::-webkit-scrollbar {
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  letter-spacing: inherit;
}

img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 6px 0;
}

.header-logo {
  width: 80px;
  height: 36px;
  object-fit: cover;
  background: #000;
  border-radius: 6px;
  padding: 6px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

.banner {
  width: 100%;
  height: 140px;
  margin-top: 10px;
  border-radius: 8px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  margin-top: 12px;
}

.products-search {
  width: 100%;
  height: 32px;
  background: white;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 4px;
}


.products-search span {
  width: 20px;
  height: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-search input {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  outline: none;
  padding: 2px 6px;
  /* letter-spacing: 0.5px; */
}

.products-category {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.products-category_item {
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  transition: all 0.1s ease-in-out;
}

.products-category_item.active {
  color: #fff;
  background: #ff9900c0;
  border-radius: 4px;
}

.products-list {
  margin-top: 16px;
  margin-bottom: 80px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product-card {
  width: 48%;
  height: 240px;
  border-radius: 8px;
  background: #fff;
  padding: 12px;
  position: relative;
}

.product-card_qty {
  color: #fff;
  width: 22px;
  height: 22px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
  background: #ff9900;
  border-radius: 50%;
}

.product-card_img {
  width: 100%;
  height: 120px;
  /* background: #000; */
  border-radius: 6px;
}

.product-card_name {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 600;
}

.product-card_price {
  color: #ff9900;
  font-size: 16px;
  font-weight: 700;
}

.product-card_buttons {
  margin-top: 8px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.product-card_button_inc {
  padding: 4px 24px;
  border-radius: 6px;
  /* background: #c70000; */
  background: #bb2124;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card_button_dec {
  padding: 4px 24px;
  border-radius: 6px;
  background: #4BB543;
  background: #22bb33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  padding: 14px 0;
  border-radius: 16px 16px 0 0;
  /* background: #fecc00; */
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 14px;
  text-transform: capitalize;
  color: gray;
}

.footer-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff9900;
}

.footer-button {
  width: 160px;
  height: 44px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #ff9900;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}